<footer>
    <nav>
        <ul>
            <li><a>Terms of service</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Other legal docs</a></li>
            <li><a href="">Manage cookies</a></li>
        </ul>
        <a href="/"><button>Projecten</button></a>
    </nav>
    <ul>
        <li>Cashcord</li>
        <li>de Berlaimontlaan 3</li>
        <li>1000 Brussels</li>
        <li>Belguim</li>
    </ul>
</footer>
</body>
<script src="../script/header.js"></script>
<script src="../script/model.js"></script>
<script src="../script/input.js"></script>
<script src="../script/history.js"></script>
</html>