<footer>
    <nav>
        <ul>
            <li><a>Service termen</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Meer weten</a></li>
            <li><a href="">Pas cookies aan</a></li>
        </ul>
        <a href="/"><button>Projecten</button></a>
    </nav>
    <ul>
        <li>Cashcord</li>
        <li>de Berlaimontlaan 3</li>
        <li>1000 Brussel</li>
        <li>België</li>
    </ul>
</footer>
</body>
<script src="./script/header.js"></script>
<script src="./script/model.js"></script>
<script src="./script/input.js"></script>
</html>