<%- include('header') %>

<main id="account">
  <section class="form-container sign-in-container">
    <form action="#">
      <h1>Maak hier je nieuwe wachtwoord aan</h1>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Enter your email" required />
      <button type="submit" class="button">Send</button>
      <h5>New to Cashcord? <a href="/registreer">Sign Up</a></h5>
      <h5>Already have an account? <a href="/login">Log In</a></h5>
    </form>
  </section>

  <section class="overlay-container">
    <section class="overlay">
      <section class="overlay-panel overlay-right">
        <p>
          <img src="./images/cc-logo-lg.png" alt="Cashcord Logo" height="200" width="auto" />
        </p>
      </section>
    </section>
  </section>
</main>

<%- include('footer') %>
