<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/font.css" />
  <link rel="stylesheet" href="assets/css/reset.css" />
  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="stylesheet" href="assets/css/font.css" />
  <link rel="stylesheet" href="assets/css/mobile.css" />
  <link rel="stylesheet" href="assets/css/animation.css" />
  <link rel="stylesheet" href="assets/css/layer.css" />
  <link rel="stylesheet" href="assets/css/root.css" />
  <link rel="stylesheet" href="assets/css/nbb-tool-style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <span id="hamburger-icon" class="material-symbols-outlined">menu</span>
    <a href=""><img src="/assets/image/cashcord-logo-removebg-preview.png" alt="logo" /></a>
    <nav>
      <ul>
        <li><a href="http://localhost:3000/">home</a></li>
        <li class="active"><a href="http://localhost:3000/compare">compare</a></li>
        <li><button>login</button></li>
      </ul>
    </nav>
  </header>
