<%- include('header'); %>
<main id="home">
  <section>
    <img src="./assets/bg.png" alt="background" />
    <h1>National bank of Belguim</h1>
    <p>
      The national bank of Belgium has existed since May 5, 1850. The reliable environment of the
      business world that is located in Belgium. Also known as NBB for short or under the worldwide
      name Cashcord. Our goal is to bring a fair environment in Belgium in which everyone must
      comply with guidelines & laws of the law.
    </p>
    <a href="./login"><button role="button">Login</button></a>
  </section>
  <section>
    <article>
      <img src="./assets/financial.png" alt="financial" />
      <h2>Start</h2>
      <p>Register your organisation</p>
      <p class="small">All companies operating in Belgium must register here</p>
      <button>Read</button>
    </article>
    <article>
      <img src="./assets/consult.png" alt="financial" />
      <h2>Consult</h2>
      <p>Consult company financial</p>
      <p class="small">All company financial is publicly to check</p>
      <button>Read</button>
    </article>
    <article>
      <img src="./assets/safe.png" alt="safe" />
      <h2>Safe</h2>
      <p>Safe with cashcord online environment</p>
      <p class="small">You are always protected by our security environment</p>
      <button>Read</button>
    </article>
  </section>
</main>
<%- include('footer'); %>
