<%- include('headerCc', { title: "cashcord" }); %>
<main id="home">
  <section>
    <img src="./assets/bg.png" alt="background" />
    <h1>Cashcord webtool</h1>
    <p>
      Cashcord webtool is een apart staande web applicatie om 2 beedrijfsfinancieen te gaan
      vergelijken. De tool verwacht als input 2 rekeningnummers waarop je gaat vergelijken. De tool
      brengt een overzicht van publieke toegankelijke informatie.
    </p>
    <a href="../cashcord/vergelijk"><button role="button">Ga naar de webtool</button></a>
  </section>
  <section>
    <article>
      <img src="./assets/financial.png" alt="financial" />
      <h2>Jou informatie vergelijken?</h2>
      <p>Registreer jou organisatie!</p>
      <p class="small">
        Alle bedrijven die toegankelijk zijn via de tool moeten bij de NBB geregistreerd zijn.
      </p>
      <button>Lees</button>
    </article>
    <article>
      <img src="./assets/consult.png" alt="financial" />
      <h2>Raadpleeg</h2>
      <p>Raadpleeg publieke informatie!</p>
      <p class="small">Je kan wettelijk informatie opvragen rond bedrijven via deze tool.</p>
      <button>Lees</button>
    </article>
    <article>
      <img src="./assets/safe.png" alt="safe" />
      <h2>Veilig!</h2>
      <p>Veilig met onze tool</p>
      <p class="small">Altijd beschermd door onze web app omgeving!</p>
      <button>Lees</button>
    </article>
  </section>
</main>
<%- include('footer'); %>
