<%- include('header', { title: "projecten" }) %>
<main id="landing">
  <ul>
    <li>
      <a href="/pokemon"><img src="./assets/pokemon.png" /></a>
    </li>
    <li>
      <a href="/cashcord"><img src="./assets/cashcord.png" /></a>
    </li>
    <li>
      <a href="/fortnite"><img src="./assets/fortnite.png" /></a>
    </li>
    <li>
      <a href="/mtg"><img src="./assets/mtg.png" /></a>
    </li>
    <li>
      <a href="/fifa"><img src="./assets/fifa.png" /></a>
    </li>
    <li>
      <a href="/lotr"><img src="./assets/lotr.png" /></a>
    </li>
    <li>
      <a href="/lego-masters"><img src="./assets/legoMasters.png" /></a>
    </li>
  </ul>
</main>

<%- include('footer') %>
