<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./assets/home.png">
    <link href="./css/landing.css" rel="stylesheet">
    <link href="./css/reset.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <header>
        <img src="./assets/home.png">
        Home</header>
    <main>
        <ul>
            <li><a href=""><img src="./assets/pokemon.png"></a></li>
            <li><a href="/home"><img src="./assets/cashcord.png"></a></li>
            <li><a href=""><img src="./assets/fortnite.png"></a></li>
            <li><a href=""><img src="./assets/mtg.png"></a></li>
            <li><a href=""><img src="./assets/fifa.png"></a></li>
            <li><a href=""><img src="./assets/lotr.png"></a></li>
            <li><a href=""><img src="./assets/legoMasters.png"></a></li>
        </ul>
    </main>
    <footer>&copy; HOME</footer>
</body>
</html>