<%- include('header'); %>
<main class="login">
    <form>
        <div>
            <input type="mail" required>
            <label>Mail adress</label>
        </div>
        <div>
            <input type="text" required>
            <label>Password</label>
        </div>
        <input type="submit" value="login">
        <a class="change" href="http://localhost:3000/signup">Create an acount</a>
    </form>
</main>
<%- include('footer'); %>
