<%- include('headerCc', { title: "privacy-policy" }); %>
<h1>Privacybeleid</h1>
<p>Laatst bijgewerkt: 9 mei 2023</p>
<p>Dit privacybeleid beschrijft hoe CashCord ("wij", "ons" of "onze") de persoonlijke informatie gebruikt en beschermt die u aan ons verstrekt wanneer u onze website [WEBSITE] en gerelateerde diensten gebruikt (de "Service").</p>
<p>Wij hechten waarde aan uw privacy en zullen uw persoonlijke gegevens alleen gebruiken in overeenstemming met dit privacybeleid. We zullen uw persoonlijke informatie niet delen met derden, behalve zoals beschreven in dit privacybeleid of zoals vereist door de wet.</p>
<h2>Verzamelde informatie</h2>
<p>Wanneer u onze website bezoekt en gebruikmaakt van onze service, kunnen we bepaalde persoonlijk identificeerbare informatie van u verzamelen, waaronder, maar niet beperkt tot:</p>
<ul>
    <li>Naam, geboortedatum en contactgegevens (bijv. e-mailadres, telefoonnummer)</li>
    <li>Demografische informatie, zoals postcode, voorkeuren en interesses</li>
    <li>Andere informatie die relevant is voor klantonderzoeken en/of aanbiedingen</li>
</ul>
<p>Daarnaast kunnen we automatisch informatie verzamelen over uw gebruik van de service, zoals uw IP-adres, browsertype, besturingssysteem, verwijzende website, de pagina's die u bekijkt en de datum en tijd van uw bezoek.</p>
<h2>Gebruik van verzamelde informatie</h2>
<p>Wij gebruiken de verzamelde informatie voor de volgende doeleinden:</p>
<ul>
    <li>Om de service te leveren en te onderhouden</li>
    <li>Om uw gebruikerservaring te verbeteren</li>
    <li>Om u te voorzien van gepersonaliseerde inhoud en aanbiedingen op basis van uw interesses</li>
    <li>Om contact met u op te nemen en te reageren op uw vragen en verzoeken</li>
    <li>Om interne administratie bij te houden</li>
    <li>Om onze producten en diensten te verbeteren en te ontwikkelen</li>
    <li>Om onze marketing- en promotieactiviteiten uit te voeren</li>
    <li>Om te voldoen aan wettelijke verplichtingen</li>
</ul>
<h2>Beveiliging</h2>
<p>Wij nemen de beveiliging van uw persoonlijke gegevens serieus en hebben passende maatregelen genomen om ongeoorloofde toegang, gebruik, wijziging of openbaarmaking van uw informatie te voorkomen. We streven ernaar om uw gegevens veilig te bewaren en hebben fysieke, elektronische en organisatorische procedures geïmplementeerd om de informatie die we verzamelen te beschermen.</p>
<h2>Cookies</h2>
<p>Onze website maakt gebruik van cookies om de gebruikerservaring te verbeteren. Cookies zijn kleine tekstbestanden die op uw apparaat worden geplaatst om informatie te verzamelen over uw activiteiten op onze website. U kunt het gebruik van cookies beheren of uitschakelen via de instellingen van uw webbrowser. Houd er echter rekening mee dat het uitschakelen van cookies invloed kan hebben op de functionaliteit van onze website.</p>
<h2>Externe links</h2>
<p>Onze website kan links naar externe websites bevatten waarvan wij denken dat ze interessant of nuttig voor u kunnen zijn. Houd er echter rekening mee dat wij geen controle hebben over deze websites en dat dit privacybeleid niet van toepassing is op dergelijke externe sites. We raden u aan om het privacybeleid van deze externe websites te lezen voordat u persoonlijke informatie verstrekt.</p>
<h2>Uw rechten</h2>
<p>U heeft het recht om toegang te vragen tot de persoonlijke gegevens die wij over u bewaren, om deze te corrigeren, bij te werken of te verwijderen. U kunt ook bezwaar maken tegen het gebruik van uw persoonlijke gegevens voor direct marketingdoeleinden. Neem contact met ons op via de hieronder verstrekte contactgegevens om uw rechten uit te oefenen.</p>
<h2>Wijzigingen in dit privacybeleid</h2>
<p>Wij kunnen dit privacybeleid van tijd tot tijd bijwerken. We zullen u op de hoogte stellen van eventuele wijzigingen door het nieuwe privacybeleid op deze pagina te plaatsen. We zullen u ook via e-mail en/of een prominente kennisgeving op onze service op de hoogte stellen voordat de wijziging van kracht wordt. Het is raadzaam om dit privacybeleid regelmatig te controleren op eventuele wijzigingen. Wijzigingen in dit privacybeleid zijn van kracht wanneer ze op deze pagina worden geplaatst.</p>
<h2>Contact</h2>
<p>Als u vragen heeft over dit privacybeleid, kunt u contact met ons opnemen:</p>
<ul>
    <li>Per e-mail: info@CashCord.be</li>
</ul>
<%- include('footer') %>


