<%- include('header', { title: "registreren" }); %>
<main class="login">
  <form method="POST" action="/registreren">
    <h2>Account aanmaken</h2>
    <fieldset>
      <% if (locals.status) { %>
      <p class="status" style="background-color: <%= (status.type === 'error') ? '#cc3300' : '' %>">
        <%= status.message %>
      </p>
      <% } %>
      <div>
        <input name="firstname" type="text" pattern="^[a-zA-Z]+$" required />
        <label>Voornaam</label>
      </div>
      <div>
        <input name="lastname" type="text" pattern="^[a-zA-Z ]+$" required />
        <label>Achternaam</label>
      </div>
      <div>
        <input
          name="email"
          type="email"
          pattern="^[a-zA-Z0-9.]+@[a-zA-Z]+\.[a-zA-Z]{2,3}$"
          required
        />
        <label>Emailadres</label>
      </div>
      <div>
        <input
          name="password"
          type="password"
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#?$%^&*]).{8,}$"
          required
        />
        <label>Wachtwoord</label>
      </div>
      <div>
        <input
          name="passwordRepeat"
          type="password"
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#?$%^&*]).{8,}$"
          required
        />
        <label>Bevestig wachtwoord</label>
      </div>
      <input type="submit" value="registreren" />
      <a class="change" href="./aanmelden">Heb je al een account?</a>
    </fieldset>
  </form>
</main>
<%- include('footer'); %>
