<%- include('header'); %>
<main class="login">
  <form method="POST" action="/signup">
    <h2>Account aanmaken</h2>
    <fieldset>
      <% if (locals.loginError) { %>
      <p><%= loginError.message %></p>
      <% } %>
      <div>
        <input name="firstname" type="text" pattern="^[a-zA-Z]+$" required />
        <label>First name</label>
      </div>
      <div>
        <input name="lastname" type="text" required />
        <label>Last name</label>
      </div>
      <div>
        <input name="email" type="email" required />
        <label>Mail adress</label>
      </div>
      <div>
        <input name="password" type="password" required />
        <label>Password</label>
      </div>
      <div>
        <input name="passwordRepeat" type="password" required />
        <label>Confirm password</label>
      </div>
      <input type="submit" value="sign up" />
      <a class="change" href="http://localhost:3000/login">I have a account</a>
    </fieldset>
  </form>
</main>
<%- include('footer'); %>
