body{  
    font-family: 'Montserrat', sans-serif;
    background-color:#f6f5f7;
    background-image: url("cashcord-logo.png");
    display: grid;
    grid-template-areas: 'header header header header header';
  }  
  header {
    background-color:white;
    text-align: center;
  }
  .container {  
    padding: 50px;  
  background-color: lightblue;  
} 
 input[type=text], input[type=password], textarea {  
    width: 100%;  
    padding: 15px;  
    margin: 5px 0 22px 0;  
    display: inline-block;  
    border: none;  
    background: #f1f1f1;  
  }  
  input[type=text]:focus, input[type=password]:focus {  
    background-color:white;  
    outline: none;  
  }  
  div {  
    padding: 10px 0;  
 } 
 h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
 } 
 hr {  
    border: 1px solid #f1f1f1;  
    margin-bottom: 25px;  
  }  
  .registerbtn {  
    background-color: #4CAF50;  
    color: white;  
    padding: 16px 20px;  
    margin: 8px 0;  
    border: none;  
    cursor: pointer;  
    width: 100%;  
    opacity: 0.9;  
  }  
  .registerbtn:hover {  
    opacity: 1;  
  }  
