*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
}
body{
    overflow-y: scroll;
}
.tool-container{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}
.tool-container h2{
    margin: 2rem 0 4rem 0;
}
.tool-container p{
    padding: .2rem 0;
}
.tool-container .form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}
.tool-container .input-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.tool-container .input-container > *{
    border: 1px solid #5525ff;
    padding: .2rem .5rem;
}
.tool-container .input-container p{
    border-radius: .5rem 0 0 .5rem;
    border-right: none;
    color: #ffffff;
    background-color: #5525ff;
}
.tool-container input[type=number]{
    border-radius: 0 .5rem .5rem 0;
}
.tool-container input[type=number]:focus{
    outline: none;
}
.tool-container input[type=submit]{
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    background-color: #5525ff;
    color: #ffffff;
    border: 1px solid #5525ff;
    transition: all .1s ease-in;
}
.tool-container input[type=submit]:hover{
    background-color: #ffffff;
    color: #5525ff;
    cursor: pointer;
}
.tool-container .results{
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
}
.tool-container .card{
    border-radius: .5rem;
    padding: 1.5rem;
    box-shadow: 0 0 20px 0px rgb(51 51 68 / 30%);
    flex: 1;
}
.tool-container .card-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tool-container .card-adress{
    margin: 0 0 2rem 0;
}

.tool-container .history-list{
    list-style: none;
}
.tool-container .list-item{
    padding: 1rem;
    border-bottom: 1px solid #333344;
    transition: all .2s ease-out;
}

.tool-container .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tool-container .list-item:hover,
.tool-container .active{
    background-color: #333344;
    color: white;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.tool-container .hidden-content{
    margin-top: 1rem;
    display: none;
}
@media only screen and (max-width: 700px) {
    .tool-container .form{
        flex-direction: column;
        gap: 1.5rem;
    }
    .tool-container .results{
        flex-direction: column;
        gap: 1.5rem;
    }
}