*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
body, html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
header * {
    user-select: none;
  }
nav li{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button, /* hide arrows higher/lower*/
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}