header{
    height: var(--header-height);
    align-items: center;
    padding: var(--standard-mpg);
}
header,nav{
    display: flex;
    width: 100%;
    background-color: #000;
}
header nav, nav li, nav ul{
    display: flex;
}
header ul{
    gap: var(--standard-mpg);
    margin-left: auto;
}
header #hamburger-icon{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: var(--standard-mpg);
    cursor: pointer;
}
header img{
    height: calc(var(--header-height) - 30px);
    width: var(--standard-img-width);
}
header button{
    background: linear-gradient(to right, #4ECDF1, #542FFE);
    border: none;
    border-radius: 1rem;
    width: 80px;
    height: var(--button-height);
    padding: calc(var(--standard-mpg)+10px);
    color: #fff;
    font-size: var(--button-font-size);
    font-weight: bold;
    cursor: pointer;
    letter-spacing: .08em;
}

nav a{
    color: #fff;
    cursor: pointer;
    align-self: center;
}
nav a:hover{
    color: var(--color-3);
}
nav .active a{
    color: var(--color-3);
}



main{
    position: relative;
    height: auto;
}

#home section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#home section:first-child{
    height: calc(100vh - 100px);
    position: relative;
    display: flex;
    flex-direction: column;
}#home section:first-child h1{
    margin: 0 var(--standard-mpg);
}
#home section:first-child img{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .5;
}
#home section:first-child p{
    width: 1000px;
    text-align: center;
}
#home section article{
    max-width: 500px;
}
#home section:first-child{
    height: calc(100vh - 100px);
}

#home section:first-child button {
    margin-top: var(--standard-mpg);
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: var(--button-border-raduis);
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: var(--button-height);
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: var(--standard-mpg);
    padding-right: var(--standard-mpg);
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: var(--button-font-size);
  }
  #home section:first-child button:focus {
    box-shadow: var(--color-1) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--color-1) 0 -3px 0 inset;
  }
  
  #home section:first-child button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--color-1) 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  #home section:first-child button:active {
    box-shadow: var(--color-1) 0 3px 7px inset;
    transform: translateY(2px);
  }
  #home section:nth-child(2){
    min-height: calc(100vh - 350px);
    max-height: fit-content;
    gap: var(--large-mpg);
  }
  #home section:nth-child(2) article{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 500px;
    width: 420px;
    border: var(--standard-border-size) solid #000;
    align-items: center;
    justify-content: center;
    border-radius: var(--button-border-raduis);
    background-color: transparent;
    padding: var(--standard-mpg);
  }

  #home section:nth-child(2) img{
    width: var(--standard-img-width);
    height: 200px;
  }

  #home section:nth-child(2) button{
    position: relative;
    margin-top: 10px;
    padding: 10px;
    background-color: transparent;
    border: 2px #000 solid;
    cursor: pointer;
    overflow: hidden;
    transition: text 2ms ease-in-out;
    width: 90px;
}
#home section:nth-child(2) h2{
    margin-bottom: 20px;
}


#compare form{
    width: 100%;
    padding: var(--large-mpg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--width-gap);
}
#compare form span{
    display: flex;
    gap: var(--small-mgp);
}



/* register */
#register a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}
#register button {
	border-radius: 20px;
	border: 1px solid black;
	background-color: #5185F8;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
#register button:active {
	transform: scale(0.95);
}
#register button:focus {
	outline: none;
}
#register button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}
#register form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 50px;
	height: 100%;
	text-align: center;
}
#register input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 75%;
}
#register .container {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}
#register .form-container {
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

#register .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

#register .container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

#register .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

#register .container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {

	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}

#register .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

#register .container.right-panel-active .overlay-container {
	transform: translateX(-100%);
}

#register .overlay {
	background: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

#register .container.right-panel-active .overlay {
	transform: translateX(50%);
}

#register .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

#register .overlay-left {
	transform: translateX(-20%);
}

#register .container.right-panel-active .overlay-left {
	transform: translateX(0);
}

#register .overlay-right {
	right: 0;
	transform: translateX(0);
}

#register .container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

#register .social-container {
	margin: 20px 0;
}

#register .social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
@media only screen and (max-width: 768px) {
	#register .container {
		width: 100%;
		border-radius: 0;
		box-shadow: none;
	}

	#register .form-container {
		width: 100%;
	}

	#register .sign-in-container,
	#register .sign-up-container {
		width: 100%;
		left: 0;
	}

	#register .overlay-container {
		width: 100%;
		left: 0;
		transform: translateX(0);
	}

	#register .overlay {
		width: 100%;
		left: 0;
		transform: translateX(0);
	}

	#register .overlay-panel {
		width: 100%;
		padding: 0 20px;
	}

	#register .overlay-left {
		transform: translateX(0);
	}

	#register .overlay-right {
		transform: translateX(0);
	}

	#register .social-container {
		display: none;
	}

	#register .overlay-right {
		display: none;
	}

	#register .overlay-container {
		display: none;
	}
}


/* footer */


footer{
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: var(--footer-height);
    background-color: #000;
    gap: var(--standard-mpg);
    align-items: center;
    justify-content: center;
}
footer ul:nth-child(2) li{
    color: #ffffff5b;
}
footer a{
    color: #fff;
}
footer ul{
    gap: var(--standard-mpg);
    list-style: none;
}
footer nav{
    position: relative;
    border-bottom: var(--standard-border-size) solid #fff;
    padding-bottom: 5px;
}
footer nav li{
    text-transform: capitalize;
}
footer nav,footer ul{
    width: 80%;
}
footer button{
    position: absolute;
    right: 0;
    top: 100px;
    background-color: transparent;
    border: #fff var(--standard-border-size) solid;
    padding: calc(var(--standard-mpg)/2);
    color: #fff;
    cursor: pointer;
}
footer button:hover{
    border: var(--color-3) var(--standard-border-size) solid;
    color: var(--color-3);
}
