:root{
    /* heights */
    --header-height: 100px;
    --footer-height: 350px;

    /* width */
    --standard-width-img: 200px;

    /* border */
    --standard-border-size: 2px;

    /* padding, margin, gap etc. */
    --standard-mpg: 20px;
    --large-mpg: 50px;
    --small-mgp: 5px;
    --width-gap: 100px;

    /* buttons */
    --button-font-size: 18px;
    --button-height: 50px;
    --button-border-raduis: 1rem;

    /* color */
    --color-1: #3c4fe0;
    --color-2: #542FFE;
    --color-3: #4ECDF1;
}